
<ion-content>
  <ion-input type="number" [(ngModel)]="num1">num1</ion-input>
  <ion-input type="number" [(ngModel)]="num2">num2</ion-input>
  <ion-button expand="block" fill="clear" color="warning" shape="round" (click)="add(num1,num2)">
    <ion-icon name="add-circle"></ion-icon>

  </ion-button>
   <ion-button expand="block" fill="clear" color="warning" shape="round" (click)="multiply(num1,num2)">
   
      <ion-icon name="close-circle"></ion-icon>
    </ion-button>
      <ion-button expand="block" fill="clear" color="warning" shape="round" (click)="
      subtract(num1,num2)">
        
        <ion-icon name="remove-circle"></ion-icon>
      </ion-button>
      
        <ion-button expand="block" fill="clear" color="warning" shape="round" (click)="
        divide(num1,num2)">/
  </ion-button>
  <h1>La lista que va a ganar es: {{ result }}</h1>
</ion-content>
